.nav{
    width: 70rem;
}
.label-checkbox{
    display: none;
}
nav .bx{
    display: none;
}
.bx-menu-alt-right{
    display: none;
}
.header .nav .container-menu{
    /* width: 30rem; */
    width: 100%;
    height: inherit;
    position: relative;
    right: 0;
    top: 0;
    background: none;
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    padding-right: 2rem;
    display: block;
    z-index: 3;
}
.menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* gap: 4rem; */
}
.item {
    text-align: left;
    margin: 0 0;
}
.about__img{
    width: 700px;
}
.about__title{
    margin-top: 6rem;
    font-size: 2.8rem;
}
.about__parrafo{
    width: 40rem;
    font-size: var(--sizeRoboto-paragraph-desktop);
}
.about__parrafo--center{
    position: relative;
    left: 200px;
}
.main{
    padding: 3rem 10rem;
}
.technologies{
    width: 100%;
    padding: 6rem 2.5rem;
}
.technologies__title{
    font-size: 2.8rem;
}
.container-technologies{
    width: 100%;
    padding: 3rem 1.5rem 0;
    gap: 3rem;
}
.projects__title{
    font-size: 2.8rem;
}
.contact__title{
    font-size: 2.8rem;
}